html{
  font-family: Arial;
  background-color: cyan;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-family: Arial;
}

p {
  font-size: 60px;
}


input[type=number] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 90px;
  box-sizing: border-box;
}

#display_price {
  font-size: 60px;
}

#weekly_display {
  font-size: 60px;
}

#display_years {
  font-size: 60px;
}